.App {
  text-align: center;
}

.App-logo {
  height: 99.3vmin;
  width: 100%;
  pointer-events: none;
}

.historyClass{
  max-width: 387px !important;

}
/* .scrollChat{
  height: 350px !important;
  overflow : scroll;
  overflow-X: hidden;
} */
.card-header{
  border-bottom: 1px solid grey !important;
}
.listHistory{
  margin-top: 5px;
  cursor: pointer;
  background: grey !important;
  color: white !important;
}

.App-header {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

